<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.cursoPG"
    version   = "1.0.0">

<name>Curso PhoneGap</name>

<description>
Proyecto de ejemplo de curso PhoneGap.
</description>

<author href="https://example.com" email="jonathanccoicca@gmail.com">
Jonathan D. Ccoicca Jiménez
</author>

</widget>
